extends ../../../../templates/master

block content
    h1.title
        span.fa.fa-users
        | &nbsp; Categories
    
    a.button.is-primary.pull-right(href="/admin/category/new")
        span.fa.fa-plus
        | &nbsp; Add Category
    table.table.is-fullwidth
        thead
            tr
                th Category
                th Actions
        
        tbody
            each category in categories
                tr
                    td: a(href=`/admin/category/${category.intCategoryId}`)= category.strCategoryName
                    td
                        a(href=`/admin/category/${category.intCategoryId}`): span.fa.fa-edit
                        | &nbsp;
                        a(href=`/admin/category/${category.intCategoryId}/remove`): span.fa.fa-remove